<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>-->
  <!--<ion-list>-->
    <!--<ion-list-header>Follow me on Twitter</ion-list-header>-->
    <!--<ion-item>-->
      <!--<ion-icon name="logo-linkedin" slot="start"></ion-icon>-->
      <!--<a href="https://www.linkedin.com/in/marcin-kot/">My Portfolio</a>-->
    <!--</ion-item>-->
  <!--</ion-list>-->
<!--</ion-content>-->
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <ion-icon name="logo-linkedin" slot="start"></ion-icon>
            <a href="https://www.linkedin.com/in/marcin-kot/">Follow me on LinkedIn</a>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-github" slot="start"></ion-icon>
            <a href="https://github.com/MarcinKotlinski">Discover more apps</a>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>